- name: Setup and Update Config - Database 
  hosts: db
  become: True
  remote_user: root
  collections:
    - Community.Docker
  vars:
    container_count: 1
    default_container_name: database
    default_container_image: postgres

  tasks:

    - name: create DB group
      become: true
      group:
        name: database
        state: present

    - name: add user to group 
      become: true
      user:
        name: "{{ ansible_user }}"
        groups: database
        append: true

    - name: Create directories for Database
      file: 
        path: /data/db/{{ default_container_name }}
        owner: "{{ ansible_user }}"
        group: database
        state: directory
        mode: '0660'

    - name: Get running containers
      docker_host_info:
        containers: yes
      register: docker_info
    
    #- name: Stop running containers
    #  docker_container:
    #    name: "{{ item }}"
    #    state: stopped
    #  loop: "{{ docker_info.containers | map(attribute='Id') | list }}"
    
    #- name: Remove Stoped docker containers
    #  shell: |
    #    docker rm $(docker ps -a -q);
    #  when: docker_info.containers != 0

    - name: Pull default Docker image
      community.docker.docker_image:
        name: "{{ default_container_image }}"
        source: pull

    - name: Pull 
      community.docker.docker_image:
        name: "dpage/pgadmin4"
        source: pull
        
    - name: Create default containers
      community.docker.docker_container:
        name: "{{ default_container_name }}_{{ item }}"
        image: "{{ default_container_image }}"
        state: started
        recreate: true
        force_kill: true
        env:
          POSTGRES_PASSWORD: 'Postgres2018!'
        volumes:
          - /data/postgresql/{{ default_container_name }}:/var/lib/postgresql/data 
        ports:
          - "5432:5432"
      with_sequence: count={{ container_count }}

    - name: Create - pgadmin4
      community.docker.docker_container:
        name: "mgmt_pgadmin4"
        image: "dpage/pgadmin4" 
        state: started
        recreate: true
        force_kill: true
        env:
          PGADMIN_DEFAULT_PASSWORD: 'Postgres2018!'
          PGADMIN_DEFAULT_EMAIL: 'gustavo.mkuno@gmail.com'
        volumes:
          - /data/postgresql/{{ default_container_name }}:/var/lib/postgresql/data 
        ports:
          - "15432:80"
